{% extends 'base.html' %}

{% block content %}
<title>{% block title %} Banco de Dados {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Banco de Dados &#9860<i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <br>
        <hr class="my-4">
        <p style="color: #000000;">Um Banco de Dados é utilizado para guardar e organizar informações(dados) de um sistema computacional.</p>
            <p style="color: #000000;">É uma disciplina bastante importante no ramo da tecnologia, 
                pois muitos softwares precisam armazenar dados diversos dos sistemas.</p>
            <p style="color: #000000;">Imagine um sistema simples de cadastro de mercadorias em uma loja, nesse caso quem armazena esses cadastrros
                é justamente um banco de dados. </p>
            
        <br>
        
    </div>
</div>


    <div class="row" >
        
            <div class="card" style="background-color: #E3E3E3; border: #E3E3E3;" >
                <div class="card-body" >
                    <h4 class="card-title">Dica de conteúdo sobre Banco de Dados</h4>
                    <br>
                    <p class="card-text">Encontramos um conteúdo interessante para iniciantes nesse tema</p> 
                    <p class="card-text">Está disponível na plataforma <a href="https://www.youtube.com/" style="font-weight: bold;">YouTube(link para site externo)</a></p>
                    <p class="card-text">Vídeo: <a href="https://www.youtube.com/watch?v=90wh_Gms8gs" style="font-weight: bold;">SQL sem mistério(link para site externo)</a></p>
                    <br>
                </div>
            </div>
        </div>
    <br>
    <br>
    <br>

        <div class="row" >
            <div class="card" style="background-color: #E3E3E3; border: #E3E3E3;">
                <div class="card-body">
                    <h4 class="card-title">Dica de conteúdo sobre Banco de Dados</h4>
                    <br>
                    <p class="card-text">Artigo na<a href="https://pt.wikipedia.org/" style="font-weight: bold;"> Wikipédia(link para site externo)</a> sobre  Banco de Dados</p>
                        <p class="card-text">Artigo: <a href="https://pt.wikipedia.org/wiki/Banco_de_dados" style="font-weight: bold;">Banco de Dados(link para site externo)</a></p>
                        <br>                    
                </div>
            </div>
        </div>
    
    </div>
</div>
<br>



{% endblock %}
