{% extends 'base.html' %}

{% block content %}
<title>{% block title %} Produção de Textos {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Produção de Textos &#9997<i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <br>
        <hr class="my-4">
        <p style="color: #000000;"> Produzir um texto sobre determinado assunto, muitas vezes não é uma tarefa simples.
        </p>
            <p style="color: #000000;">Todo conteúdo precisa ter uma introdução, desenvolvimento e conclusão.</p>
            <p style="color: #000000;">Além disso, precisamos estar atentos à coesão e coerência do conteúdo para conseguirmos transmitir a mensagem do texto de forma clara e objetiva. </p>
            <p style="color: #000000;">Diante desses aspectos citados e de outros mais, escrever, ou seja, produzir um texto é uma tarefa que exige dedicação e treino.</p>
           
       
        
    </div>
</div>
    
<div class="row" >
        
    <div class="card" style="background-color: #FFFFFF; border: #FFFFFF;" >
        <figure>
        <img src="../static/img/texto.png" width="825" height="600" aria-describedby="imageDescription">
        <figcaption>
            <p style= "font-size: 14px;"id="imageDescription">Na imagem, há mãos de uma pessoa que segura uma caneta na mão direita, e abaixo das mãos está um caderno com escritas 
            </p>
          </figcaption>
    </figure>

    </div>
</div>
<br>
<br>
<br>

    <div class="row" >
        
            <div class="card" style="background-color: #E3E3E3; border: #E3E3E3;" >
                <div class="card-body" >
                    <h4 class="card-title">Dica de conteúdo sobre Produção de Textos</h4>
                    <br>
                    <p class="card-text">Encontramos um conteúdo muito interessante sobre produção de textos</p> 
                    <p class="card-text">Está disponível na plataforma <a href="https://www.youtube.com" style="font-weight: bold;">YouTube(link para site externo)</a></p>
                    <p class="card-text">Vídeo: <a href="https://www.youtube.com/watch?v=3UiG1voATQY" style="font-weight: bold;">Como escrever QUALQUER TEXTO do ZERO(link para site externo)</a></p>
                    <br>
                </div>
            </div>
        </div>
    <br>
    <br>
    <br>

        <div class="row">
            <div class="card" style="background-color: #E3E3E3; border: #E3E3E3;">
                <div class="card-body">
                    <h4 class="card-title">Dica de conteúdo sobre Produção de Textos</h4>
                    <br>
                    <p class="card-text">Artigo no site<a href="https://www.todamateria.com.br" style="font-weight: bold;"> TodaMatéria</a> que nos orienta e dá dicas sobre produzir textos</p>
                        <p class="card-text">Artigo: <a href="https://www.todamateria.com.br/producao-de-textos-como-comecar/#:~:text=A%20produ%C3%A7%C3%A3o%20de%20textos%20%C3%A9,textos%20conseguem%20se%20expressar%20melhor." style="font-weight: bold;">Produção de Textos - Como Começar?(link para site externo)</a></p>
                        <br>                    
                </div>
            </div>
        </div>
    
    </div>
</div>
<br>



{% endblock %}