{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Python {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Python &#128013<i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <br>
        <hr class="my-4">
        <p style="color: #000000;"> A linguagem de programação Python é bastante conhecida por sua versatilidade.</p>
            <p style="color: #000000;">Pode ser utilizada em vários tipos de projetos, entre eles estão: desenvolvimento de software, desenvolvimento web, análise, ciência de dados e muitos outros.</p>
            <p style="color: #000000;">Ela é orientada a objetos, o que nos traz a possibilidade de aplicá-la em engenharia de software. </p>
            <p style="color: #000000;">Também é uma linguagem onde podemos utilizar muitas bibliotecas que auxiliam em projetos na área de dados.</p>
            <p style="color: #000000;">Sua curva de aprendizagem é relativamente alta comparada a outras linguagens de programação, o que a torna uma ótima opção para quem está entrando no mundo do código! </p>
            <p style="color: #000000;">Você pode encontrar mais detalhes sobre essa linguagem em sua <a href="https://docs.python.org/3/" style="font-weight: bold;">página de documentação (link para site externo)</a></p>
        <br>
        
    </div>
</div>


    <div class="row" >
        
            <div class="card" style="background-color: #E3E3E3; border: #E3E3E3;" >
                <div class="card-body" >
                    <h4 class="card-title">Dica de conteúdo sobre Python</h4>
                    <br>
                    <p class="card-text">Encontramos um curso interessante para iniciantes em Python</p> 
                    <p class="card-text">Está disponível na plataforma <a href="https://www.udemy.com/" style="font-weight: bold;">Udemy(link para site externo)</a></p>
                    <p class="card-text">Curso: <a href="https://www.udemy.com/course/intro_python/" style="font-weight: bold;">Introdução à linguagem Python (link para site externo)</a></p>
                    <br>
                </div>
            </div>
        </div>
    <br>
    <br>
    <br>

        <div class="row">
            <div class="card" style="background-color: #E3E3E3; border: #E3E3E3;">
                <div class="card-body">
                    <h4 class="card-title">Dica de conteúdo sobre Python</h4>
                    <br>
                    <p class="card-text">Artigo na<a href="https://pt.wikipedia.org/" style="font-weight: bold;"> Wikipédia</a> que fala sobre história e usos da linguagem</p>
                        <p class="card-text">Artigo: <a href="https://pt.wikipedia.org/wiki/Python" style="font-weight: bold;">Python (link para site externo)</a></p>
                        <br>                    
                </div>
            </div>
        </div>
    
    </div>
</div>
<br>



{% endblock %}

