{% extends 'base.html' %}

{% block content %}
<title> {% block title %} Sobre o projeto {% endblock %}</title>

<div class="container" >
    <div class="jumbotron" style="background-color: #E3E3E3; ">
        <h1 class="display-4">
            <style>
                h1{text-align: center;
                background-color: #E3E3E3;
                color: #000000;
                }

            </style>Sobre Nosso Projeto <i class="fa-regular fa-hand-wave"></i></h1>
        <p></p>
        <hr class="my-4">
        <p style="color: #000000;">Somos um grupo de alunos universitários, e, como muitos deles, tivemos o desafio de criar uma plataforma online.</p>
        <p style="color: #000000;">Para atingir nosso objetivo, demos início à fase de pesquisa para desenvolvimento do projeto e observamos uma oportunidade de cumprir nosso desafio e ao mesmo tempo auxiliar pessoas que estão em busca de conhecimento.</p>
        <p style="color: #000000;">Decidimos então, construir nossa plataforma com dicas de conteúdo e de cursos online e gratuitos que estão disponíveis na rede.</p>
        <p style="color: #000000;">Essa plataforma foi construída com um objetivo principal: apresentação do desenvolvimento de um projeto de plataforma, e aplicação de conceitos aprendidos ao longo de nosso curso.</p>
                
    </div>
</div>

{% endblock %}